version: '3.8'
services:
  mysql:
    image: mysql:8.0
    container_name: sb-mysql
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: spring_batch
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  adminer:
    image: adminer
    container_name: sb-adminer
    restart: unless-stopped
    ports:
      - "8080:8080"

volumes:
  db_data: {}

